<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W2N8VXTG');
    </script>
    <!-- End Google Tag Manager -->
    <link rel="farcaster.json file" href="/.well-known/farcaster.json" />
    <link rel="icon" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="fc:miniapp" content='{"version":"next","imageUrl":"https://games.bando.cool/fc_embed_preview.png","button":{"title":"Pay for games","action":{"type":"launch_frame","name":"Gamepay","url":"https://games.bando.cool","splashImageUrl":"https://games.bando.cool/appicon.png","splashBackgroundColor":"#ffffff"}}}' />
    <meta name="fc:frame" content='{"version":"next","imageUrl":"https://games.bando.cool/fc_embed_preview.png","button":{"title":"Pay for games","action":{"type":"launch_frame","name":"Gamepay","url":"https://games.bando.cool","splashImageUrl":"https://games.bando.cool/appicon.png","splashBackgroundColor":"#ffffff"}}}' />
    <title><%- title %></title>
    <meta name="description" content="<%- description%>" />
  </head>
  <body class="notranslate">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W2N8VXTG"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
     <!-- End Google Tag Manager (noscript) -->
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>
